#root {
  margin: 0;
  padding: 0;
}

.dashBg{
  background-image: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #062A61;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216, 214, 214);
  border-radius: 2.5px;
}
